[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "external/JoltPhysics"]
	path = external/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "external/volk"]
	path = external/volk
	url = https://github.com/zeux/volk
[submodule "external/cgltf"]
	path = external/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy
[submodule "external/EASTL"]
	path = external/EASTL
	url = https://github.com/electronicarts/EASTL
